<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Powered by</h5>
                <p class="grey-text text-lighten-4">
                    <img width="100px" src="/img/aws.png"/>
                    <img width="100px" src="/img/spring.png"/>
                    <img width="50px" src="/img/ij.png"/>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Mach dein Hobby zum Beruf</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="https://www.twinformatics.at/app/download/7908261320/Tester_JAVA_mw.pdf?t=1519813385">als
                        DevOps</a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="https://www.twinformatics.at/app/download/7908261320/Tester_JAVA_mw.pdf?t=1519813385">als
                        Tester</a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="https://www.twinformatics.at/app/download/7792883820/Senior_Developer_mw.pdf?t=1519813385">als
                        Java Entwickler</a></li>
                    <li><a class="grey-text text-lighten-3"
                           href="https://www.twinformatics.at/app/download/7800094420/IT_Junior_Consultant_mw.pdf?t=1519813385">als
                        Consultant</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            come and join us
            <a class="grey-text text-lighten-4 right"
               href="https://www.twinformatics.at/">https://www.twinformatics.at/</a>
        </div>
    </div>
</footer>
</body>
</html>