<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>twinformatics | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<nav th:fragment="nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp;twinformatics</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://www.twinformatics.at/karriere/">Jobs @twinformatics</a></li>
        </ul>
    </div>
</nav>

</body>
</html>