spring.cloud.stream.default.producer.partitionKeyExpression: payload
#spring.cloud.stream.default.producer.partitionKeyExtractorClass: net.tine2k.kafka.producer.output.PartitionKeyExtractor

spring.cloud.stream.bindings.ticksOutput.destination: topic1
spring.cloud.stream.kafka.bindings.ticksOutput.producer.sync: true

logging:
  level:
    org.apache.kafka: info
    org.apache.zookeeper: info
spring:
  cloud:
    stream:
      kafka:
        binder:
          auto-create-topics: false
          auto-add-partitions: false
          replicationFactor: 3
          zkNodes: localhost
          brokers: localhost
