#spring.cloud.stream.default.producer.partitionKeyExtractorClass: com.vig.devjf.kafka.producer.key.PartitionKeyExtractor

spring.cloud.stream.bindings.ticksOutput.destination: topic1
spring.cloud.stream.kafka.bindings.ticksOutput.producer.sync: true

spring:
  cloud:
    stream:
      kafka:
        binder:
          auto-create-topics: false
          auto-add-partitions: false
          zkNodes: localhost
          brokers: localhost

logging:
  level:
    org.apache.kafka: info
    org.apache.kafka.clients.producer.ProducerConfig: warn