spring.cloud.stream.bindings.input.producer.partitionKeyExpression: payload

spring.cloud.stream.bindings.ticksOutput.destination: topic1
spring.cloud.stream.kafka.bindings.ticksOutput.producer.sync: true

spring:
  cloud:
    stream:
      kafka:
        binder:
          zkNodes: localhost
          brokers: localhost

logging:
  level:
    org.apache.kafka: info
    org.apache.kafka.clients.producer.ProducerConfig: warn